<div class="container text-center">
    <div class="row">
        <div class="col-xs-8">
            <h1>For Rent</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Rent</th>
                        <th>Square Footage</th>
                        <th>City</th>           
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rental in vm.rentals.list">
                        <td>
                            {{rental._id}}
                        </td>
                        <td>
                            {{rental.rent}}
                        </td>
                        <td>
                            {{rental.sqft}}
                        </td>
                        <td>
                            {{rental.city}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

