<div class="container">
    <div class="row">
        <div class="col-xs-8 text-center">
            <h1>For Sale</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 input-item">
            <h3>Add a Property</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 input-item">
            <input type="text" placeholder="Cost" ng-model="vm.newListing.cost">
        </div>
        <div class="col-sm-3 input-item">
            <input type="text" placeholder="Square Footage" ng-model="vm.newListing.sqft">
        </div>
        <div class="col-sm-3 input-item">
            <input type="text" placeholder="City" ng-model="vm.newListing.city">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 input-item">
            <button class="btn btn-primary" ng-click="vm.addNewListing(vm.newListing)">Submit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Cost</th>
                        <th>Square Footage</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="listing in vm.listings.list">
                        <td>
                            {{listing.cost}}
                        </td>
                        <td>
                            {{listing.sqft}}
                        </td>
                        <td>
                            {{listing.city}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>